<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hpu.edu.lileining.dao.clothes.ClothesMapper">


    <select id="getClothesList" resultType="hpu.edu.lileining.dao.model.ClothesVo">
        SELECT
          c.id AS id,
          c.name AS name,
          c.image AS image,
          c.price AS price,
          c.cateId AS cateId,
          ca.content AS cateContent,
        FROM
          cate ca,
          clothes c LEFT JOIN
          (
             SELECT
               *
             FROM
               sizes
             GROUP BY clothesId
          ) AS s
          ON
           c.id=s.clothesId
        WHERE
          ca.id=c.cateId
        ORDER BY c.id DESC
        limit #{start},#{num}
    </select>


</mapper>