<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hpu.edu.lileining.dao.clothes.ClothesMapper">

    <resultMap id="clothes" type="hpu.edu.lileining.dao.model.ClothesVo">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="image" column="image"/>
        <result property="price" column="price"/>
        <result property="cateId" column="cateId"/>
        <result property="cateContent" column="cateContent"/>

        <collection property="sizes" ofType="hpu.edu.lileining.dao.model.Sizes">
            <id property="id" column="sid"/>
            <result property="size" column="size"/>
            <result property="count" column="count"/>
        </collection>

    </resultMap>

    <select id="getClothesList" resultType="List" resultMap="clothes">

      SELECT
          c.id AS id,
          c.name AS name,
          c.image AS image,
          c.price AS price,
          c.cateId AS cateId,
          ca.content AS cateContent,
          s.id AS sid,
          s.size AS size,
          s.count AS count
        FROM
          cate ca,
          clothes c,
          sizes s
        WHERE
          ca.id=c.cateId
         And
          s.clothesId=c.id
        ORDER BY c.id DESC
        limit #{start},#{num}
    </select>


</mapper>